<header>
<h1>My tinyUrl project</h1>

  <% if  (usernamecookie == undefined) {%>
  <form method="POST" action="/login">
  <input type="text" name="username" placeholder="login">
  <input type="submit" value="submit">
  </form>
  <% } else {%>
    <div>
    <p>Username: <%= usernamecookie %></p>
    </div>
    <form method="POST" action="/logout">
    <input type="submit" value="Log Out">
  </form>
  <% } %>

</header>