<header>

  <style>

  .box1 {
    display: inline-block;
    margin-before: 5px;
    margin-after: 5px;
    padding: 5px;
  }

  .inline {
    display: inline-block;
  }

  </style>

<h1>My tinyUrl project</h1>

<div class=box1>
<p><%= userinfo.email %></p>
</div>

    <form class=inline action="/logout" method="POST">
    <input type="submit" value="Logout">
    </form>

<p>Existing Users, please <a href= "/login"> Login.</a></p>

<p class=inline>New Users, please register: <a href= "/register"> Register.</a></p>

<hr />
</header>