<header>


</header>

<h2>Please login to proceed:</h2>

<div style="color: red;"><p><%= errorMessage1 %></div>

<form method="POST" action="/login">

  <label>Enter Username and Password</label>

  <input type="text" name="email">

  <input type="text" name="password">

  <input type="submit" value="submit">

</form>

<div style="color: blue">
<p>If you don't have a Login, please click here:  <a href="/register"> Register.<a></p>
</div>