<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>

  <style>

    form.delete {

    display: inline-block;

    }

    header {
      border-bottom: black;
    }

    .shortUrldata {
      font-family: : calibri;
      font-size: 12px;
      color: green;
    }

  header {
    border-bottom: black 20px;
    margin-bottom: 30px;
  }

  </style>

</head>
<body>

  <header>
     <% include ./_header %>
  </header>

<section>
  <h2>Here are my URLs</h2>

  <h3 style="color: red";><em><%= errorMessage %></em><h3>
</section>

<div>
<ul>
    <% for (var baz in userUrls) { %>

      <li><%= userUrls['shortUrl'] + ": " + userUrls['longUrl'] %>

        <form class="delete" method="POST" action="/urls/<%= userUrls['shortUrl']%>/delete">

        <input type="submit" value="Delete">

        <a href="/urls/<%= baz%>">EDIT</a>

        <a href="/urls/new">ADD NEW</a>

        </form>

      </li>

        <% } %>

        <li><a href = "newlink">this is the empty link</a></li>

</ul>
</div>

    <!-- Add your EJS code here -->
</body>
</html>









