<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>

  <style>

    form.delete {

    display: inline-block;

    }

    header {
      border-bottom: black;
    }

    .shortUrldata {
      font-family: : calibri;
      font-size: 12px;
      color: green;
    }

  header {
    border-bottom: black 20px;
    margin-bottom: 30px;
  }

  </style>

</head>
<body>

  <header>
     <% include ./_header %>
  </header>

  <h1>Here are my URLs</h1>

<!-- for (var foo in URLs) {
 urls[foo]
}
 -->

<ul>
    <% for (var foo in urlDatabase) { %>
      <li><%= foo + ": " + urlDatabase[foo] %><br>
        <span class = "shortUrldata">Date Created + Times Visited + Unique Visits<span><br>
        <form class="delete" method="POST" action="/urls/<%= foo%>/delete">
        <input type="submit" value="Delete">
        <a href="/urls/<%= foo%>">EDIT</a>
        <a href="/urls/new">ADD NEW</a>

        </form>
      </li>
        <% } %>
        <li><a href = "newlink">this is the empty link</a></li>

</ul>


    <!-- Add your EJS code here -->
</body>
</html>









